# folders
/.venv/
/code/wandb/
/data/
/datasets/*
/model_weights/
/presentations/*
/runs/
*_old/

# files
**/__pycache__/**/*.pyc
runs/**/*.pth
documents/demo_notes.md
documents/research/MICCAI___SSL_in_Dermatology.pdf
documents/research/miccai_notes.md

# report
report/*.aux
report/*.bbl
report/*.bcf
report/*.blg
# report/*.dvi
# report/*.fdb_latexmk
# report/*.fls
report/*.glg
report/*.glo
report/*.gls
report/*.ist
report/*.lof
report/*.log
report/*.lot
report/*.markdown.lua
report/*.out
# report/*.out.ps
report/*.pdf
report/*.run.xml
report/*.synctex.gz
report/*.toc
report/_markdown_report/*.md.tex
report/textidote/report.html
report/textidote/textidote.jar

# Exceptions
!.gitkeep
